.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

.masonry-card {
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
}
